<a href="https://colab.research.google.com/github/SujitVarma299/2311cs020685/blob/main/sale_project_with_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Sample data for sales transactions and customer information
sales_data = {
    'TransactionID': [1, 2, 3, 4, 5],
    'CustomerID': [101, 102, 103, 104, 101],
    'Amount': [250, 300, 400, 500, 600],
    'Date': ['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04', '2025-01-05']
}
customer_data = {
    'CustomerID': [101, 102, 103, 104],
    'CustomerName': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [30, 35, 40, 25],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

# Convert data into DataFrame
sales_df = pd.DataFrame(sales_data)
customers_df = pd.DataFrame(customer_data)

# Display Amount and Date from sales data
print("Amount and Date from sales data:")
print(sales_df[['Amount', 'Date']])

# Display Customer name and city from customer data
print("\nCustomer name and city from customer data:")
print(customers_df[['CustomerName', 'City']])

# Display customer IDs with amount > 400
print("\nCustomer IDs with Amount > 400:")
print(sales_df[sales_df['Amount'] > 400]['CustomerID'])

# Show basic structure of sales_df
print("\nSales DataFrame:")
print(sales_df.head())

# Exploring the dataset (using shape and describe)
print("\nShape of sales data:", sales_df.shape)
print("\nSales data statistics:")
print(sales_df.describe())

# Filter a dataframe of sales dataframe where sales amount >400
filtered_sales_df = sales_df[sales_df['Amount'] > 400]
print("\nFiltered Sales DataFrame (Amount > 400):")
print(filtered_sales_df)

# Merging data (Sales with Customer info)
merged_df = pd.merge(sales_df, customers_df, on='CustomerID', how='inner')
print("\nMerged DataFrame:")
print(merged_df)

# Accessing data using `loc` and `iloc`
print("\nAccess data using `loc` (row 1):")
print(merged_df.loc[1])

print("\nAccess data using `iloc` (row 2):")
print(merged_df.iloc[2])

# Handling Missing Values
# Let's introduce some missing data for demonstration
merged_df.loc[2, 'Age'] = None  # Introduce missing value in Age column
print("\nMerged DataFrame with Missing Values:")
print(merged_df)

# Check for missing values
print("\nCheck missing values (isnull):")
print(merged_df.isnull().sum())

# Fill missing values with the mean (for Age column)
merged_df['Age'].fillna(merged_df['Age'].mean(), inplace=True)
print("\nData after filling missing values:")
print(merged_df)

# Aggregation: Calculate the mean sales per customer
mean_sales = merged_df.groupby('CustomerName')['Amount'].mean()
print("\nMean sales per customer:")
print(mean_sales)

# Create a DataFrame for Patient Information
patient_info_data = {
    'PatientName': ['John', 'Emma', 'Paul', 'Mia'],
    'Age': [28, 34, 6, 40],
    'DateOfAppointment': ['2025-01-10', '2025-01-11', '2025-01-12', '2025-01-13'],
    'PatientID': [201, 202, 203, 204]
}
patient_info_df = pd.DataFrame(patient_info_data)

# Create a DataFrame for Drug Quantity
drug_quantity_data = {
    'DrugName': ['Aspirin', 'Paracetamol', 'Ibuprofen', 'Antibiotic'],
    'Quantity': [50, 30, 20, 40],
    'PatientID': [201, 202, 203, 204]
}
drug_quantity_df = pd.DataFrame(drug_quantity_data)

# Filter patient information to get patients with age < 6
filtered_patient_info_df = patient_info_df[patient_info_df['Age'] < 6]
print("\nFiltered Patient Information (Age < 6):")
print(filtered_patient_info_df[['PatientName', 'Age']])

# Merge the dataframes with inner join of Patient information and drug quantity dataframe
merged_patient_drug_df = pd.merge(patient_info_df, drug_quantity_df, on='PatientID', how='inner')
print("\nMerged Patient and Drug Quantity DataFrame:")
print(merged_patient_drug_df)

Amount and Date from sales data:
   Amount        Date
0     250  2025-01-01
1     300  2025-01-02
2     400  2025-01-03
3     500  2025-01-04
4     600  2025-01-05

Customer name and city from customer data:
  CustomerName         City
0        Alice     New York
1          Bob  Los Angeles
2      Charlie      Chicago
3        David      Houston

Customer IDs with Amount > 400:
3    104
4    101
Name: CustomerID, dtype: int64

Sales DataFrame:
   TransactionID  CustomerID  Amount        Date
0              1         101     250  2025-01-01
1              2         102     300  2025-01-02
2              3         103     400  2025-01-03
3              4         104     500  2025-01-04
4              5         101     600  2025-01-05

Shape of sales data: (5, 4)

Sales data statistics:
       TransactionID  CustomerID      Amount
count       5.000000     5.00000    5.000000
mean        3.000000   102.20000  410.000000
std         1.581139     1.30384  143.178211
min         1.000000   101.00000  250.000000
25%         2.000000   101.00000  300.000000
50%         3.000000   102.00000  400.000000
75%         4.000000   103.00000  500.000000
max         5.000000   104.00000  600.000000

Filtered Sales DataFrame (Amount > 400):
   TransactionID  CustomerID  Amount        Date
3              4         104     500  2025-01-04
4              5         101     600  2025-01-05

Merged DataFrame:
   TransactionID  CustomerID  Amount        Date CustomerName  Age  \
0              1         101     250  2025-01-01        Alice   30
1              2         102     300  2025-01-02          Bob   35
2              3         103     400  2025-01-03      Charlie   40
3              4         104     500  2025-01-04        David   25
4              5         101     600  2025-01-05        Alice   30

          City
0     New York
1  Los Angeles
2      Chicago
3      Houston
4     New York

Access data using `loc` (row 1):
TransactionID              2
CustomerID               102
Amount                   300
Date              2025-01-02
CustomerName             Bob
Age                       35
City             Los Angeles
Name: 1, dtype: object

Access data using `iloc` (row 2):
TransactionID             3
CustomerID              103
Amount                  400
Date             2025-01-03
CustomerName        Charlie
Age                      40
City                Chicago
Name: 2, dtype: object

Merged DataFrame with Missing Values:
   TransactionID  CustomerID  Amount        Date CustomerName   Age  \
0              1         101     250  2025-01-01        Alice  30.0
1              2         102     300  2025-01-02          Bob  35.0
2              3         103     400  2025-01-03      Charlie   NaN
3              4         104     500  2025-01-04        David  25.0
4              5         101     600  2025-01-05        Alice  30.0

          City
0     New York
1  Los Angeles
2      Chicago
3      Houston
4     New York

Check missing values (isnull):
TransactionID    0
CustomerID       0
Amount           0
Date             0
CustomerName     0
Age              1
City             0
dtype: int64

Data after filling missing values:
   TransactionID  CustomerID  Amount        Date CustomerName   Age  \
0              1         101     250  2025-01-01        Alice  30.0
1              2         102     300  2025-01-02          Bob  35.0
2              3         103     400  2025-01-03      Charlie  30.0
3              4         104     500  2025-01-04        David  25.0
4              5         101     600  2025-01-05        Alice  30.0

          City
0     New York
1  Los Angeles
2      Chicago
3      Houston
4     New York

Mean sales per customer:
CustomerName
Alice      425.0
Bob        300.0
Charlie    400.0
David      500.0
Name: Amount, dtype: float64

Filtered Patient Information (Age < 6):
Empty DataFrame
Columns: [PatientName, Age]
Index: []

Merged Patient and Drug Quantity DataFrame:
  PatientName  Age DateOfAppointment  PatientID     DrugName  Quantity
0        John   28        2025-01-10        201      Aspirin        50
1        Emma   34        2025-01-11        202  Paracetamol        30
2        Paul    6        2025-01-12        203    Ibuprofen        20
3         Mia   40        2025-01-13        204   Antibiotic        40

<ipython-input-1-e0e92066f2f7>:70: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['Age'].fillna(merged_df['Age'].mean(), inplace=True)